settings = exports;

settings.SIMPLEGEO_KEY = "PTtBgGeJhmjq3BdB6jMzyQbHURyRGtcT";
settings.SIMPLEGEO_SECRET = "t2dKATNHTyuJY7w6kexH5rhFNXeyCLza";
settings.PORT = 8010;
settings.COUCHDB_HOST = "localhost";
settings.COUCHDB_PORT = 5984;
settings.COUCHDB_DATABASE = "mapchat";
settings.COUCHDB_AUTH = {username:"", password:""};
